body {
  background-color: #f8f9fa;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Make buttons feel like native app buttons when pressed */
.btn:active {
  transform: scale(0.97);
  transition: transform 0.1s;
}


.ltr{
  direction: ltr;
}